---------------------------------------------------------
--------------             USP             --------------
---------------------------------------------------------
/*
    File: USP.v1.sql
    Purpose:
        Collection of utility stored procedures supporting Shelf / ShelfTenant
        contract management and availability lookups for ShelfMarket.

    Conventions:
        - All procedures are created with CREATE OR ALTER (idempotent deploys).
        - Date comparisons are done using DATE (no time component).
        - Contract "active" definition:
              StartDate <= @Date AND (CancelledAt IS NULL OR CancelledAt >= @Date)
          or equivalently using COALESCE(CancelledAt, EndDate) >= @Date where appropriate.
        - Error handling: RAISERROR (severity 16) for missing required parameters.
        - Identifier casing: Upper snake for table names to match physical schema.

    Change Log:
        2025-09-27  Added enhanced documentation blocks.
        2025-09-27  Added uspShelvesForShelfTenantThatTenantRent.
        2025-09-26  Added uspGetAvailableShelves.
        2025-09-26  Added uspGetShelfTenantCurrentShelves.
*/
USE [ShelfMarket_Dev]
GO

-- Treats double quotes (") as identifier delimiters (object names), not as string delimiters.
SET QUOTED_IDENTIFIER ON;
GO

/***************************************************************************************************
 Procedure: dbo.uspGetShelfTenantCurrentShelves
 Description:
    Returns (for "today") the shelves currently assigned to shelf tenants whose contracts
    are active on the current date. Optionally filters by tenant email.

 Active contract criteria:
    StartDate <= Today
    AND EndDate >= Today
    AND (CancelledAt IS NULL OR CancelledAt > Today)

 Parameters:
    @Email NVARCHAR(255) = NULL
        - If NULL  : Include all tenants.
        - If NOT NULL: Filter to the tenant with the exact email.

 Result Set (one row per active contract line / shelf):
    ShelfNumber (INT)
        The shelf's business number (not the GUID Id). Uncomment additional columns if needed.

 Notes:
    - Additional tenant / contract / shelf columns are present as commented lines for easy expansion.
    - Adjust the optional status filter if only "Active" tenants should be included.

 Usage Examples:
    EXEC dbo.uspGetShelfTenantCurrentShelves @Email = 'tenant@example.com';
    EXEC dbo.uspGetShelfTenantCurrentShelves @Email = NULL;

 Performance Considerations:
    - Ensure indexes on:
        SHELFTENANTCONTRACT (ShelfTenantId, StartDate, EndDate, CancelledAt)
        SHELFTENANTCONTRACTLINE (ShelfTenantContractId, ShelfId)
        SHELF (Id, Number)
        SHELFTENANT (Email)
***************************************************************************************************/
CREATE OR ALTER PROCEDURE [dbo].[uspGetShelfTenantCurrentShelves]
    @Email NVARCHAR(255) = NULL  -- pass NULL to get all tenants
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Today date = CONVERT(date, GETDATE());

    SELECT
        --s.Id                    AS ShelfId,
        s.Number                AS ShelfNumber
    FROM dbo.SHELFTENANT                AS t
    JOIN dbo.SHELFTENANTCONTRACT        AS c  ON c.ShelfTenantId = t.Id
    JOIN dbo.SHELFTENANTCONTRACTLINE    AS cl ON cl.ShelfTenantContractId = c.Id
    JOIN dbo.SHELF                      AS s  ON s.Id = cl.ShelfId
    WHERE
        (@Email IS NULL OR t.Email = @Email)
        AND (@Today BETWEEN CONVERT(date, c.StartDate) AND CONVERT(date, c.EndDate))
        AND (c.CancelledAt IS NULL OR @Today < CONVERT(date, c.CancelledAt))
        -- AND t.Status = 'Active'   -- Uncomment if you only want active status tenants
    ORDER BY
        s.Number;
END
GO

/***************************************************************************************************
 Procedure: dbo.uspGetAvailableShelves
 Description:
    Returns shelves that have no overlapping assignment (any contract line) within the supplied
    date range [@StartDate .. @EndDate].

 Availability logic:
    A shelf is considered "busy" if any contract line belongs to a contract whose active
    window intersects the supplied range:
        Contract.StartDate <= @EndDate
        AND COALESCE(CancelledAt, EndDate) >= @StartDate

 Parameters:
    @StartDate DATE (NOT NULL)
    @EndDate   DATE (NOT NULL)
        Must satisfy: @EndDate >= @StartDate.

 Result Set:
    ShelfId     UNIQUEIDENTIFIER
    shelfNumber INT

 Error Conditions:
    - Missing dates -> RAISERROR (severity 16).
    - @EndDate < @StartDate -> RAISERROR (severity 16).

 Usage Examples:
    EXEC dbo.uspGetAvailableShelves @StartDate = '2025-09-01', @EndDate = '2025-09-30';
    EXEC dbo.uspGetAvailableShelves @StartDate = '2025-09-15', @EndDate = '2025-09-15';

 Index Recommendations:
    SHELFTENANTCONTRACT (StartDate, EndDate, CancelledAt)
    SHELFTENANTCONTRACTLINE (ShelfTenantContractId, ShelfId)
    SHELF (Id, Number)

 Notes:
    - Using a CTE (OverlappingContracts) isolates candidate contract IDs before resolving shelf usage.
***************************************************************************************************/
CREATE OR ALTER PROCEDURE [dbo].[uspGetAvailableShelves]
    @StartDate date,
    @EndDate   date
AS
BEGIN
    SET NOCOUNT ON;

    IF @StartDate IS NULL OR @EndDate IS NULL
    BEGIN
        RAISERROR('StartDate and EndDate are required.', 16, 1);
        RETURN;
    END;

    IF @EndDate < @StartDate
    BEGIN
        RAISERROR('EndDate must be on or after StartDate.', 16, 1);
        RETURN;
    END;

    ;WITH OverlappingContracts AS
    (
        SELECT c.Id
        FROM dbo.SHELFTENANTCONTRACT AS c
        WHERE c.StartDate <= @EndDate
          AND COALESCE(c.CancelledAt, c.EndDate) >= @StartDate
    ),
    BusyShelves AS
    (
        SELECT DISTINCT l.ShelfId
        FROM dbo.SHELFTENANTCONTRACTLINE AS l
        INNER JOIN OverlappingContracts oc
            ON oc.Id = l.ShelfTenantContractId
    )
    SELECT
        s.Id     AS ShelfId,
        s.Number AS shelfNumber
    FROM dbo.SHELF AS s
    WHERE NOT EXISTS (SELECT 1 FROM BusyShelves b WHERE b.ShelfId = s.Id)
    ORDER BY s.Number;
END
GO

/***************************************************************************************************
 Procedure: dbo.uspShelvesForShelfTenantThatTenantRent
 Description:
    Lists shelves (only ID and Number) that a specified tenant is renting on a given date.
    A shelf qualifies if it appears on at least one line of an "active" contract
    for the tenant on @AtDate.

 Active contract definition:
    c.ShelfTenantId = @ShelfTenantId
    AND c.StartDate <= @AtDate
    AND COALESCE(c.CancelledAt, c.EndDate) >= @AtDate

 Parameters:
    @ShelfTenantId UNIQUEIDENTIFIER  (Required)
    @AtDate        DATE              (Required)

 Result Set (distinct rows):
    ShelfId     UNIQUEIDENTIFIER
    ShelfNumber INT

 Error Conditions:
    - NULL @ShelfTenantId -> RAISERROR
    - NULL @AtDate        -> RAISERROR

 Usage Examples:
    DECLARE @D date = '2025-09-27';
    EXEC dbo.uspShelvesForShelfTenantThatTenantRent
         @ShelfTenantId = 'D4A5E8F1-6C2B-4C3A-9F4E-1A2B3C4D5E6F',
         @AtDate        = @D;

 Suggested Indexes:
    SHELFTENANTCONTRACT (ShelfTenantId, StartDate, EndDate, CancelledAt)
    SHELFTENANTCONTRACTLINE (ShelfTenantContractId, ShelfId)
    SHELF (Id, Number)

 Notes:
    - DISTINCT ensures a shelf with multiple contract lines (edge cases) appears once.
    - No tenant status filter; add if business rules require.
***************************************************************************************************/
CREATE OR ALTER PROCEDURE [dbo].[uspShelvesForShelfTenantThatTenantRent]
    @ShelfTenantId UNIQUEIDENTIFIER,
    @AtDate        DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF @ShelfTenantId IS NULL
    BEGIN
        RAISERROR('ShelfTenantId is required.', 16, 1);
        RETURN;
    END;

    IF @AtDate IS NULL
    BEGIN
        RAISERROR('AtDate is required.', 16, 1);
        RETURN;
    END;

    ;WITH ActiveContracts AS
    (
        SELECT c.Id
        FROM dbo.SHELFTENANTCONTRACT c
        WHERE c.ShelfTenantId = @ShelfTenantId
          AND c.StartDate <= @AtDate
          AND COALESCE(c.CancelledAt, c.EndDate) >= @AtDate
    )
    SELECT DISTINCT
        s.Id     AS ShelfId,
        s.Number AS ShelfNumber
    FROM ActiveContracts ac
    INNER JOIN dbo.SHELFTENANTCONTRACTLINE cl
        ON cl.ShelfTenantContractId = ac.Id
    INNER JOIN dbo.SHELF s
        ON s.Id = cl.ShelfId
    ORDER BY s.Number;
END
GO
